@model ABMCursos.Models.Curso

@{
    ViewData["Title"] = "Delete";
}

<h1>Deseas borrar el curso?</h1>
<div>
    <h4>Curso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombrecurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombrecurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profesor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profesor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidadalumnos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidadalumnos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idcurso" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Volver a la lista</a>
    </form>
</div>
